body {
    background-color:#333;
    color: white;
}
.table-ny > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid rgb(119, 119, 119)
}
.table-ny > tbody > tr > td, .table-ny > tbody > tr > th, .table-ny > tfoot > tr > td, .table-ny > tfoot > tr > th,
.table-ny > thead > tr > td, .table-ny > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid rgb(119, 119, 119)
}
canvas {
    display: block;
    position: absolute;
    -webkit-filter: blur(1px);
    z-index: -10;
}
