<div id="events_container" class="container">
{{range $key, $value := .}}
  <h1>{{$value.Date}}</h1>
  {{range $value.Events}}
    <div>
      <table class="table">
        <thead>
        <tr>
          <th width="10%">
            <span class="h3">{{.Event.Time}}</span>
          </th>
          <th width="60%">
            <span class="h3"><small>{{.Event.Name}}</small></span>
          </th>
          <th width="10%">
            <span class="h3">{{.Event.Count}}</span>
          </th>
          <th width="10%">
            {{if .IsParticipant}}
            <button type="button" class="btn btn-danger btn-sm leave-event" id="{{.Event.Id}}">Leave</button>
            {{else}}
              {{if .CanJoin}}
              <button type="button" class="btn btn-success btn-sm join-event" id="{{.Event.Id}}">Join</button>
              {{else}}
              {{end}}
            {{end}}
          </th>
          <th width="10%">
            <button type="button" class="btn btn-default btn-sm delete-event" id="{{.Event.Id}}">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </th>
        </tr>
        </thead>
        <tr>
            <td></td>
            <td>{{.Event.Comments}}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {{range .Event.Participants}}
        <tr>
          <td></td>
          <td>{{ .Name}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {{end}}
      </table>
    </div>
  {{end}}
{{end}}
</div>
