<div id="events_container" class="container">
{% for group, events in grouped_events %}
    <h1>{{ group }}</h1>
    {% for event in events %}
        {% set type = types[event.type.id()] %}
        {% set is_participant = event.is_participant(player) %}
        {% set can_join = event.can_join() %}
        <div>
            <table class="table table-ny">
                <thead>
                <tr id="{{ event.type.id() }}">
                    <th width="5%">
                        <span class="h3">{{ event.date.strftime('%H:%M') }}</span>
                    </th>
                    <th width="5%">
                        <span class="h3">#{{ event.key.id() }}</span>
                    </th>
                    <th width="60%">
                        <span class="h3"><small>{{ type.name }}</small></span>
                    </th>
                    <th width="10%">
                        <span class="h3">{{ event.participants|length }}/{{ type.capacity }}</span>
                    </th>
                    <th width="10%">
                        {% if is_participant %}
                            <button type="button" class="btn btn-danger btn-sm leave-event" id="{{ event.key.id() }}">Leave</button>
                        {% elif can_join %}
                            <button type="button" class="btn btn-success btn-sm join-event" id="{{ event.key.id() }}">Join</button>
                        {% endif %}
                    </th>
                    <th width="10%">
                        <button type="button" class="btn btn-default btn-sm delete-event" id="{{ event.key.id() }}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </th>
                </tr>
                </thead>
                {% if event.comment|length > 0 %}
                    <tr>
                        <td></td>
                        <td class="text-right"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></td>
                        <td>{{ event.comment }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                {% for participant in event.participants %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>{{ participant }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
{% endfor %}
</div>
